body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f7;
  text-align: center;
}

.container {
  background: white;
  padding: 20px;
  margin: 30px auto;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

button {
  background: teal;
  color: white;
  padding: 8px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.certificate {
  margin-top: 50px;
  background: #fffacd;
  padding: 30px;
  border: 2px solid #000;
  border-radius: 15px;
}

iframe {
  margin-bottom: 20px;
  border-radius: 10px;
}
